* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Space before NAVIGATION BAR */
.before-nav {
  letter-spacing: 1.4px;
  font-weight: 600;
  font-size: 14px;
  padding: 25px 0 25px 0;
  text-align: center;
  color: #fff;
  background-color: hsla(240, 51%, 14%, 0.925);
}

.before-nav a {
  color: #fff;
}

.before-nav span {
  letter-spacing: 0.4px;
  font-size: 18px;
  padding: 5px 8px 5px 8px;
  border-radius: 5%;
  margin-right: 20px;
  background-color: rgb(33, 145, 145);
}

/* NAVBAR  */

.nav-bar {
  display: flex;
  margin-top: 30px;
}

.nav-bar img {
  position: relative;
  display: block;
  width: 158px;
  height: 33px;
}
.nav-bar li {
  list-style-type: none;
}
.header-list {
  column-gap: 30px;
  display: flex;
  flex-direction: row;
}
